<div class="whole-page">
    <app-navbar></app-navbar>
    <div class="container page">
        <div class="form">
            <div class="tab-content">
                <form #loginForm="ngForm" (ngSubmit)="loginUser()">
                    <p class="h2 mb-4">Sign In</p>

                    <div class="mb-4">
                        <input type="email " id="loginName " class="form-control" [(ngModel)]="user.email" name="email" />
                        <label class="form-label" for="loginName ">Email</label>
                    </div>

                    <div class="mb-4" style="position: relative">
                        <input type="password" id="passwordInput" class="form-control" [(ngModel)]="user.password" name="password " />
                        <i class="far fa-eye" id="togglePassword" (click)="togglePassword('passwordInput')" style="
            cursor: pointer;
            position: absolute;
            top: 0.6rem;
            right: 0.7rem;
            z-index: 100;
          "></i>

                        <label class="form-label" for="passwordInput ">Password</label>
                    </div>

                    <div class="row mb-4">
                        <a href="#! ">Forgot password?</a>
                    </div>

                    <button type="submit " class="btn btn-primary btn-block mb-4">
        Sign in
      </button>

                </form>
            </div>
        </div>

    </div>

</div>
