/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none !important;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none !important;
    /* Safari and Chrome */
}
