<div class="page">
    <div class="exam-details">
        <h5>
            Field Of Study: <span>{{ selectedExam.fieldofstudy }}</span>
        </h5>
        <h4>
            Exam Title: <span>{{ selectedExam.examTitle }}</span>
        </h4>
        <h5>
            Last Updated At: <span>{{ selectedExam.updatedAt | date }}</span>
        </h5>
    </div>

    <div class="row">
        <ul class="col">
            <p>
                When you are ready to take the mock exam click on any exam of your choice from below.
            </p>
            <li *ngFor="let exam of exams">
                <a (click)="selectExam(exam._id)" class="btn btn-link">{{
          exam.examTitle
        }}</a>

                <button *ngIf="user.isAdmin" (click)="deleteExam(exam._id)" class="btn btn-warning">
          Delete
        </button>
            </li>
        </ul>
        <div class="col exam-section">
            <p class="exam-placeholder-text" *ngIf="!selectedExam.questions">
                Questions will appear here once you select an exam from the left.
            </p>

            <button (click)="savePdf()" *ngIf="selectedExam.questions" style="margin-bottom: 1rem;" class="btn btn-primary">Save as pdf</button>

            <div class="exam" id="exam">
                <div *ngFor="let questions of selectedExam.questions; let i = index">
                    <h6>{{i + 1}}. {{ questions.question | titlecase}}</h6>
                    <div *ngFor="let choice of questions.choices | keyvalue">
                        <div class="choices" id="{{ questions._id + choice.key }}" (click)="
              select(
                choice.key,
                questions.answer,
                questions._id + choice.key,
                questions._id + 'answer'
              )
            ">
                            <input class="radio-btn" name="{{ questions._id }}" type="radio" />
                            <p class="choice">{{ choice.key }}. {{ choice.value }}</p>
                        </div>
                    </div>
                    <p class="hidden" id="{{ questions._id + 'answer' }}">
                        Correct answer: {{ questions.answer }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="user.isAdmin" class="row">
        <form #questionForm="ngForm" (ngSubmit)="addQuestion(questionForm)">
            <h2>Add Exam</h2>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="question" class="form-control" [(ngModel)]="newQuestion.question" name="question" />
                <label class="form-label" for="question">question</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="choiceA " class="form-control" [(ngModel)]="newQuestion.choices.a" name="chocies.a" />
                <label class="form-label" for="choiceA ">chocie A</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="choiceB " class="form-control" [(ngModel)]="newQuestion.choices.b" name="choices.b" />
                <label class="form-label" for="choiceB ">chocie B</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="choiceC " class="form-control" [(ngModel)]="newQuestion.choices.c" name="choices.c" />
                <label class="form-label" for="choiceC ">choice C</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="choiceD " class="form-control" [(ngModel)]="newQuestion.choices.d" name="choices.d" />
                <label class="form-label" for="choiceD ">choice D</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="answer " class="form-control" [(ngModel)]="newQuestion.answer" name="answer " />
                <label class="form-label" for="answer ">correct answer</label>
            </div>

            <!-- Submit button -->
            <button type="submit " data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
        Save Question
      </button>
        </form>
        <form #examForm="ngForm" class="col" (ngSubmit)="saveExam(examForm)">
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="title " class="form-control" [(ngModel)]="newExam.examTitle" name="examTitle " />
                <label class="form-label" for="title ">title</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="text " id="fieldofsudy " class="form-control" [(ngModel)]="newExam.fieldofstudy" name="fieldofstudy " />
                <label class="form-label" for="fieldofsudy ">fieldofstudy</label>
            </div>

            <button class="btn btn-primary">Save Exam</button>
        </form>
    </div>
</div>