<div class="page">
    <h2>
        Welcome <span class="text-primary">{{ getName() }}</span>
    </h2>
    <h3>Your Profile:</h3>
    <h4>
        account: <span class="text-secondary">{{ getUserType() }}</span>
    </h4>
    <h4>
        username: <span class="text-secondary">{{ getName() }}</span>
    </h4>
    <h4>
        user Id: <span class="text-secondary">{{ getId() }}</span>
    </h4>
    <h4>
        email: <span class="text-secondary">{{ getEmail() }} </span>
    </h4>
    <h4 *ngIf="!!getFieldOfStudy()">
        fieldofstudy: <span class="text-secondary">{{ getFieldOfStudy() }} </span>
    </h4>

    <button class=" btn btn-warning" (click)="logout()">Log out</button>
</div>
